
body {
 background: url(https://jackkavanaghcv.github.io/IMG_0362.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
